.header {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  // background: $color-main;
  // color: $color-light;
  background-image: url('https://i.postimg.cc/4dWqp6v2/pexels-eneida-nieves-905847.jpg');
  &__wrapper {
    position: relative;
  }

}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 5);
    font-weight: $font-bold;
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Corinthia', cursive;
  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 2);
    font-weight: $font-light;
    font-style: italic;
  }

}

.main-nav {
  position: absolute;
  @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -8);

  a {
    @extend .h2;
    color: #C1F4F3;
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    padding: $base-size ($base-size * 2);
    background: darken($color-dark, 5%);
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &.active {
      background: lighten($color-dark, 75%);
      color: lighten($color-dark, 20%);
    }

  }

}
